.header {
  margin: 50px;
  align-items: center;
  text-align: center;
}

.header-text {
  display: block;
  text-align: center;
}

media-player {
  max-width: 500px;
}

.hint {
  align-items: center;
  text-align: center;
  position: relative;
  display: inline-flex;
}

.hint-row {
  width: 100%;
  align-items: center;
  text-align: center;
}

.hint-disable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  cursor: not-allowed;
}
